@import "variables";
@import "mediaQueries";

.event__comments {
  .comments__header {
    @include flex(center);
    column-gap: clamp(0.5rem, 1vw + 0.25rem, 1rem);
    img {
      margin-top: -0.5rem;
      width: clamp(1.55rem, 4vw, 2.1rem);
    }
    h2 {
      font-weight: 600;
      font-size: clamp(1.05rem, 3.25vw, 1.45rem);
      color: $lighterHeader;
    }
    .header__comments__count {
      margin-right: -0.25rem;
      font-weight: 400;
      font-size: clamp(0.95rem, 3.05vw, 1.25rem);
      color: $lighestHeader;
    }
  }
  .comments__content {
    margin-top: clamp(0.75rem, 2vw + 1rem, 3rem);
    width: 100%;
    .new-comment {
      margin: 0 auto 0 auto;
      width: 95%;
      height: 20rem;
      overflow: hidden;
      border-radius: 1rem;
      box-shadow: $boxShadow;
      border: 1px solid $purpleColor;
      background-color: $lighterBackground;
      .new-comment__header {
        @include flex(center);
        padding: 0 1.5rem;
        height: 3.8rem;
        width: 100%;
        column-gap: 0.85rem;
        border-bottom: 1px solid $outlineColor;
        select {
          height: 2rem;
          width: 8rem;
          border: none;
          outline: none;
          color: $capacityCount;
          font-family: "dana-fanum";
          background-color: transparent;
        }
        button {
          @include flex(center);
          border: none;
          outline: none;
          &.first-button {
            margin-right: 1rem;
          }
          img {
            height: 0.75rem;
          }
        }
      }
      .new-comment__form {
        width: 100%;
        height: calc(100% - 3.8rem);
        textarea {
          padding: 1.5rem 2rem 0.5rem 2rem;
          height: 70%;
          width: 100%;
          resize: none;
          border: none;
          outline: none;
          font-size: clamp(0.5rem, 1vw + 0.6rem, 1.25rem);
          font-family: "dana-fanum";
          color: $lighterHeader;
          &::placeholder {
            color: $pathnameColor;
          }
        }
        div {
          @include flex(center, flex-end);
          padding: 0 0 1rem 1rem;
          height: 30%;
          button {
            height: clamp(2rem, 2vw + 2rem, 3rem);
            width: clamp(5rem, 2vw + 7rem, 10rem);
            font-family: 700;
            font-size: clamp(0.75rem, 1vw + 0.65rem, 1.1rem);
            border: none;
            outline: none;
            border-radius: 10px;
            color: $lighterBackground;
            background-color: $purpleColor;
          }
        }
      }
    }
    .comments__container {
      margin: 5rem 2.5% 7.5rem 2.5%;
      width: 95%;
    }
    .comment {
      margin: 2rem 1.5rem 1rem 0;
      width: 100%;
      height: fit-content;
      .comment__container {
        position: relative;
        padding: 2rem 5rem 2rem 2rem;
        width: 100%;
        min-height: 17rem;
        border-radius: 1rem;
        background-color: $commentBackground;
        .comment__profile {
          @include center;
          position: absolute;
          inset: 2rem -2.5rem auto auto;
          width: 5rem;
          height: 5rem;
          border-radius: 100%;
          box-shadow: $boxShadow;
          background-color: $lighterBackground;
          img {
            width: 4.5rem;
          }
        }
        .comment__content {
          width: 100%;
          height: 100%;
          .content__header {
            @include flex(stretch, space-between, column);
            width: 100%;
            height: 4.5rem;
            .data__name-date {
              @include flex(center);
              position: relative;
              width: 100%;
              column-gap: 0.9rem;
              flex-shrink: 1;
              h3 {
                margin-left: 1.5rem;
                max-width: 50%;
                height: 2rem;
                font-weight: 400;
                font-size: 1.5rem;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                color: $lighterHeader;
              }
              time,
              span {
                font-size: 1.1rem;
                color: $lighestHeader;
              }
              time {
                position: relative;
                &::after {
                  position: absolute;
                  content: "";
                  inset: 50% -1.5rem auto auto;
                  width: 0.5rem;
                  height: 0.5rem;
                  border-radius: 100%;
                  transform: translateY(-50%);
                  background-color: $orangeColor;
                }
              }
              button {
                height: 2rem;
                padding: 0.5rem;
                border: none;
                outline: none;
                border-radius: 5px;
                background-color: $buttonOverlay;
                img {
                  width: 1.05rem;
                }
                &:last-child {
                  color: $lighterHeader;
                  font-size: 0.9rem;
                  padding: 0.5rem 0.75rem;
                }
              }
            }
            .data__position {
              @include flex(center);
              font-size: 1.05rem;
              color: $lighestHeader;
              span:nth-child(2) {
                margin: 0 0.5rem;
              }
            }
            .comment__like {
              @include flex(center);
              padding: 0.25rem;
              column-gap: 0.5rem;
              position: absolute;
              inset: 0 auto auto 0;
              height: 2rem;
              border: none;
              outline: none;
              border-radius: 5px;
              background-color: $buttonOverlay;
              img {
                width: 1.05rem;
              }
              span {
                height: 0.8rem;
                font-size: 1rem;
                line-height: 1rem;
                color: $lighterHeader;
              }
            }
          }
          .comment__text {
            margin-top: 1.5rem;
            font-size: 1.1rem;
            line-height: 2.5rem;
            color: $commentTextColor;
          }
        }
      }
      .comment__replies {
        .reply {
          @extend .comment__container;
          margin: 2rem 6rem 1rem 0;
          width: calc(100% - 6rem);
          background-color: transparent;
          border: 1px solid $lighestHeader;
        }
      }
    }
  }
}
