@import "variables";
@import "mediaQueries";

.email-reciever {
  @include center;
  box-shadow: $boxShadow;
  width: 101.5%;
  height: 32rem;
  margin-right: -1.15vw;
  color: $lighterHeader;
  background-color: $lighterBackground;
  @include tablet {
    margin-right: -5vw;
    width: 105vw;
  }
  h5 {
    font-weight: 800;
    font-size: clamp(1rem, 2vw + 1.1rem, 2.25rem);
    margin-bottom: clamp(0.5rem, 1vw + 0.25rem, 1rem);
  }
  p {
    font-size: clamp(1rem, 2.5vw, 1.25rem);
    text-align: center;
    &.first {
      width: clamp(50%, 51%, 66%);
      width: 66%;
      @include tablet {
        width: 75vw;
      }
      @include mobile {
        width: 85vw;
      }
      line-height: 2.5rem;
    }
    &.last {
      margin-top: 0.75rem;
      @include tablet {
        width: 75vw;
      }
      @include mobile {
        width: 85vw;
      }
    }
  }
  &__form {
    position: relative;
    @include flex(center);
    padding: 0 2rem 0 1rem;
    margin-top: 3rem;
    height: 5rem;
    width: 46rem;
    border-radius: 4rem;
    background-color: $lighterHeader;
    .form__icon {
      width: 2.25rem;
    }
    @include tablet {
      margin-top: 5vw;
      width: 75vw;
      height: clamp(4rem, 14vw, 5rem);
    }
    .form__input {
      margin: 0 3rem 0 1rem;
      position: relative;
      width: 60%;
      input {
        width: 100%;
        outline: none;
        border: none;
        font-size: 1.2rem;
        color: $lighterBackground;
        &::placeholder {
          color: #656565;
          font-size: 1.1rem;
        }
      }
      &::before {
        content: "";
        position: absolute;
        inset: 50% -1.5rem auto auto;
        transform: translateY(-50%);
        width: 3px;
        height: 125%;
        border-radius: 1rem;
        background-color: #656565;
      }
      @include tablet {
        margin: 0 0.5rem 0 1rem;
        input {
          font-size: 1rem;
        }
        &::before {
          display: none;
        }
      }
    }
    .form__button {
      @include flex(center, space-between);
      padding: 0 1.5rem;
      height: 75%;
      width: 32.5%;
      border: none;
      outline: none;
      overflow: hidden;
      border-radius: 3rem;
      background-color: $orangeColor;
      transition: all 1s ease-out;
      @include tablet {
        position: absolute;
        inset: 50% auto auto 0.75rem;
        transform: translateY(-50%);
      }
      span {
        color: $lighterBackground;
        font-size: 1.25rem;
        font-weight: 700;
        @include tablet {
          font-size: 0.9rem;
        }
      }
      img {
        width: 2.25rem;
        transition: all 1s ease-out;
        transition-delay: 500ms;
        @include tablet {
          width: 1.6rem;
        }
      }
      &.active {
        margin-right: 5%;
        padding-right: 2.75rem;
        width: 25%;
        @include tablet {
          padding-right: 1.8rem;
        }
        img {
          margin-left: -4rem;
          opacity: 0;
          width: 2.25rem;
        }
      }
      &:hover {
        img {
          margin-left: -4rem;
          opacity: 0;
          width: 2.25rem;
        }
      }
    }
    @include tablet {
      position: relative;
      width: 100%;
      .form__input {
        font-size: clamp(0.4rem, 0.6rem, 1.2rem);
      }
      .form__icon {
        display: none;
      }
      .form__button {
        margin: 0;
        transform: translateX(-50%);
        position: absolute;
        inset: auto auto -95% 50%;
        width: 9.5rem;
        height: 3.25rem;
        border-radius: 3.5rem;
        span {
          transition: all 1000ms;
        }
        &.active {
          width: 8.5rem;
          @include tablet {
            padding-right: 1.8rem;
          }
          span {
            margin-right: 50%;
            transform: translateX(50%);
          }
          img {
            margin-left: -4rem;
            opacity: 0;
            width: 2.25rem;
            transition-delay: 0;
          }
        }
      }
    }
  }
}
