@import "./variables.scss";

.home {
  padding: 15rem 1rem 0 1rem;
  &::before {
    content: "";
    position: absolute;
    inset: 7.25rem auto auto -17%;
    transform: rotate(53.18deg);
    height: 17rem;
    width: 18rem;
    border-radius: 1.5rem;
    background-color: $purpleColor;
    opacity: 0.5;
    outline: $outlineColor solid 0.5rem;
  }
}

// animations
@keyframes pulse {
  0% {
    box-shadow: $lightGreenColor 0 0 0 0;
  }
  80% {
    box-shadow: $transparentGreenColor 0 0 0 7px;
  }
}

@keyframes three-dots {
  0% {
    content: "";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}
