@font-face {
  font-family: dana-FaNum;
  font-display: swap;
  src: url("../assets/fonts/DanaFaNum-Hairline.woff2");
  font-weight: 100;
}
@font-face {
  font-family: dana-FaNum;
  font-display: swap;
  src: url("../assets/fonts/DanaFaNum-Thin.woff2");
  font-weight: 200;
}
@font-face {
  font-family: dana-FaNum;
  font-display: swap;
  src: url("../assets/fonts/DanaFaNum-Light.woff2");
  font-weight: 300;
}
@font-face {
  font-family: dana-FaNum;
  font-display: swap;
  src: url("../assets/fonts/DanaFaNum-Regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: dana-FaNum;
  font-display: swap;
  src: url("../assets/fonts/DanaFaNum-Medium.woff2");
  font-weight: 500;
}
@font-face {
  font-family: dana-FaNum;
  font-display: swap;
  src: url("../assets/fonts/DanaFaNum-Bold.woff2");
  font-weight: 600;
}
@font-face {
  font-family: dana-FaNum;
  font-display: swap;
  src: url("../assets/fonts/DanaFaNum-DemiBold.woff2");
  font-weight: 700;
}
@font-face {
  font-family: dana-FaNum;
  font-display: swap;
  src: url("../assets/fonts/DanaFaNum-ExtraBlack.woff2");
  font-weight: 800;
}
@font-face {
  font-family: dana-FaNum;
  font-display: swap;
  src: url("../assets/fonts/DanaFaNum-Heavy.woff2");
  font-weight: 900;
}
* {
  
  font-family: dana-FaNum;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  all: unset;
  cursor: pointer;
}
button,
input {
  background-color: transparent;
  }

  img {
    width: 100%;
    object-fit: cover;
}

button {
  cursor: pointer;
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

*/
