@import "variables";
@import "mediaQueries";

.nav {
  @include flex(center, space-between);
  position: fixed;
  inset: 0 0 auto auto;
  padding: 0 2.5rem;
  height: 7rem;
  width: 100%;
  z-index: 5;
  transition: all 500ms;
  box-shadow: $boxShadow;
  background-color: $lighterBackground;
  div,
  ul {
    @include flex(center);
  }
  &__right {
    &__logo {
      @include flex(center);
      column-gap: 1rem;
      figcaption {
        font-size: 1.15em;
      }
      img {
        width: 4.5rem;
      }
      &::after {
        content: "";
        position: relative;
        right: 1.5rem;
        column-gap: 1.1rem;
        height: 3.2rem;
        width: 4px;
        border-radius: 5px;
        background-color: $SeparatorColor;
      }
    }
    &__menu {
      margin-right: 4rem;
      list-style: none;
      column-gap: 1.5rem;
      li {
        text-decoration: none;
        a {
          position: relative;
          color: $capacityTitle;
          transition: all 500ms;
          &.active {
            color: $mainHeader;
            &::before {
              content: "";
              position: absolute;
              inset: -0.4rem -0.2rem auto auto;
              height: 0.4rem;
              width: 0.4rem;
              border-radius: 100%;
              background-color: $purpleColor;
            }
          }
          &:hover {
            color: $mainHeader;
          }
        }
      }
    }
  }
  &__left {
    column-gap: 0.6rem;
    width: fit-content;
    button {
      @include center;
      height: 3.25em;
      width: 3.25em;
      border-radius: 10px;
      border: 1px solid $borderColor;
      transition: all 1s;
      img {
        height: 1.5rem;
      }
      &:active {
        img {
          transform: scale(0.9);
        }
      }
      &:first-child {
        @include flex(center, space-between, row-reverse);
        padding: 0 0.5rem;
        transition: all 1s;
        overflow: hidden;
        img {
          height: 1.4rem;
          margin-right: 1rem;
        }
        form {
          position: relative;
          input {
            margin-left: 0.5rem;
            width: 11rem;
            height: 1.4rem;
            border: none;
            outline: none;
            font-size: 0.9rem;
            line-height: 1.1rem;
            color: $mainHeader;
            background-color: transparent;
            &::placeholder {
              font-weight: 300;
              color: $capacityTitle;
            }
          }
          &::before {
            content: "";
            position: absolute;
            inset: 50% auto auto -0.25rem;
            transform: translateY(-50%);
            width: 3px;
            height: 75%;
            background-color: $outlineColor;
          }
        }
        &.search--active {
          width: 15rem;
          box-shadow: $boxShadow;
        }
        &:hover {
          @extend .search--active;
        }
      }
      &:nth-child(2) {
        &:hover {
          animation: wave 750ms infinite;
        }
      }
      &:last-child {
        display: none;
      }
      &.notification {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          inset: 15% 24% auto auto;
          height: 0.6rem;
          width: 0.6rem;
          border-radius: 100%;
          background-color: $redColor;
        }
      }
    }
  }
}
@keyframes wave {
  20% {
    transform: rotate(5deg);
  }
  40% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
