@import "variables";
@import "mediaQueries";

.event__events,
.events {
  margin: 0rem auto 10rem auto;
  &__header,
  .header {
    @include flex(center, space-between);
    &__content {
      @include flex(center);
      column-gap: 1rem;
      img {
        width: clamp(1.55rem, 4vw, 2.1rem);
      }
      h2 {
        font-weight: 600;
        font-size: clamp(1.05rem, 3.25vw, 1.45rem);
        color: $lightHeader;
      }
    }
    &__navigators {
      @include flex(center);
      column-gap: 0.75rem;
      margin-left: clamp(0.5rem, 0.5vw + 0.25rem, 1rem);
      button {
        @include center;
        width: clamp(2.125rem, 1.5vw + 2rem, 3rem);
        height: clamp(2.125rem, 1.5vw + 2rem, 3rem);
        border: none;
        outline: none;
        border-radius: 10px;
        box-shadow: $boxShadow;
        background-color: $lighterBackground;
        @include transition(all 500ms);
        &:first-child {
          svg {
            rotate: -180deg;
          }
        }
        svg {
          width: 90%;
        }
        &.navigators-disabled {
          box-shadow: none;
          border: 1px solid $lighterHeader;
          path {
            stroke: $lighterHeader;
          }
        }
      }
    }
  }
  &__container,
  .container {
    @include flex(center, space-between, wrap);
    margin: 2rem auto 0 auto;
    height: 34rem;
    @include tablet {
      margin-top: 0;
    }
    .swiper-slide {
      @include flex(center, space-between);
      width: 100%;
      height: 33rem;
      row-gap: 6rem;
      flex-wrap: wrap;
      .eventPreview {
        @include tablet {
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4) {
            display: none;
          }
        }
      }
      @include tablet {
        gap: 6rem 4rem;
        @include flex(center, center);
      }
    }
  }
}
